.modal {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  margin-right: 10%;
  width: 100%;
}

.modalContent {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 4px;
  width: 20%;
  border-style: outset;
}

.close {
  float: right;
  cursor: pointer;
}
