.containHeader {
  background-color: #f2d0a9;
  height: 3rem;
  display: flex;
  justify-content: space-around;
}

.breadcrumb {
  display: flex;
  padding-top: 1%;
  justify-content: space-evenly;
}

.servicio {
}

.contacto {
}

.horario {
}

.userContain {
  width: 50%;
  display: inline-flex;
  justify-content: flex-end;
}
.user:hover {
  cursor: pointer;
}
